<md-list-item class="md-2-line">
  <div class="md-list-item-text" layout="column">
    <h3>{{ $ctrl.dish.name }}</h3>
    <p>Price: {{ $ctrl.dish.price }}</p>
    <div ng-if="($ctrl.user.balance - $ctrl.dish.price) < 0" class="little-money">
      Recharge your balance on {{ $ctrl.dish.price - $ctrl.user.balance }}
    </div>
  </div>
  <md-button ng-if="($ctrl.user.balance - $ctrl.dish.price) >= 0" class="md-raised md-primary" ng-click="$ctrl.makeOrder($ctrl.dish)">
    Make Order
  </md-button>
</md-list-item>